---
import { experiences } from '../data/experiences';
---
<ul class="list-none p-0 m-0 space-y-6">
  {experiences.map((e) => (
    <li class="grid grid-cols-1 lg:grid-cols-12 gap-4 items-center">
      <div class="lg:col-span-4 flex justify-center reveal reveal-right">
        <div class="w-full max-w-[220px] aspect-[5/3] bg-white rounded-lg
                    border border-neutral-200 shadow-[0_1px_2px_rgba(0,0,0,0.04)]
                    flex items-center justify-center p-4">
          <img src={e.image} alt={e.institution}
               class="max-w-full max-h-full object-contain" />
        </div>
      </div>
      <div class="lg:col-span-8 reveal reveal-left">
        <div class="text-[1.15rem] font-semibold leading-snug">
          {e.institutionUrl ? (
            <a href={e.institutionUrl} class="text-ust-blue hover:text-ust-goldlight">
              {e.institution}
            </a>
          ) : (
            <span class="text-ust-blue">{e.institution}</span>
          )}
        </div>
        <div class="text-[15px] mt-1 text-neutral-700">{e.description}</div>
        <div class="text-[14px] italic mt-1 text-neutral-600">
          <b>
            {e.tag && (
              <span class="text-ust-gold">{e.tag} </span>
            )}
            {e.role}
          </b>: {e.period}
        </div>
      </div>
    </li>
  ))}
</ul>
